/* UNIVERSAL STYLE */


* {
 box-sizing: border-box; 
}

body{
  font-size: 14px;
  width: 100vw;
}


a {
  text-decoration: none;
}


.head-menu {
  background-color: rgba(122,253,122,.2);
}

.main-menu {
  
  background-color: rgba(1,1,1,.1);
}

.inter-menu {
 
  background-color: rgba(76,0,253,.1);
}

.tools-menu {
 
  background-color: rgba(253,228,1,.2);
}

.print-menu {

  background-color: rgba(253,135,0,.2);
}

.lang-menu {
 
  background-color: rgba(253,0,236,.2);
}

img {
  
  background-color: rgba(127,0,233,.2);
}

.main-article {
  
  background-color: rgba(0,228,253,.2);
}

footer {

  background-color: rgba(0,253,101,.2);
}




/* HEAD MENU STYLE */

.head-menu {
  padding: 1rem;
}

.head-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.head-btn {
  float: right;
  display: block;
  color: blue;
  text-align: center;
  padding: .2rem .3rem;
}


/* SIDE MENU STYLE */


.side-menu {
  position: absolute;
  width: 10rem;
  height: 100vh;
  left: 1rem;
  top: 1rem;
}

.wiki-logo{
  width: 10rem;
}

.side-menu ul{
  margin: .5rem 0;
}

.side-menu li{
  line-height: 1.2rem;
}

.side-menu p{
  border-bottom: 1px solid grey;
}

.lang-menu i {
  display: block;
  float: right;
  z-index: 1;
}

.side-text {
  display: block;
  float: right;
  z-index: 2;
}


/* MAIN ARTICLE STYLE */

.head-text, .first-quote, .second-quote, .third-quote, .forth-quote, .fifth-quote, .sixth-quote, .cover-box, .ct-box, .link-box {
  padding: 1rem;
 }

.main-article {
  position: absolute;
  padding-left: 11rem;
  top: 3rem;
  border: 1px solid rgba(2,2,2,1);
}

h2{
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

strong {
  font-weight: 700;
}

small {
  font-size: .7rem;
}

/* MAIN MENU STYLE */

.artic-btn {
  height: 2rem;
}

.main-btn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  display: block;
  color: blue;
  text-align: center;
  padding: .2rem .3rem;
  height: 2rem;
 }

/* HEAD TEXT STYLE */

.head-text {
  top: 2rem;
  background: red;
}

h1 {
  font-size: 2rem;
  font-style: oblique;
  padding-bottom: .15rem;
  margin-bottom: .3rem;
  width: auto;
  border-bottom: 1px solid rgba(0,0,0,.3);
 }

/*FIRST QUOTE STYLE*/

.first-quote {
  float: left;
}

.main-text {
  margin-right: 16rem;
  margin-bottom: 2rem;
}

/*STORY QUOTE STYLE*/

.second-quote {
  float: left;
}

/*GAMEPLAY QUOTE STYLE*/

.third-quote {
  float: left;
}

.link-box {
  height: auto;
}

h4 {
  font-size: 1.1rem;
  font-weight: 700;
}


figure.ct {
  float: left;
  border: 1px solid black;
  width: 11rem;
  padding: .4rem;
}

 .ct img{
  width: 10rem;
}
/* EASTER EGG QUOTE STYLE*/

.forth-quote {
  float: left;
}

/* REFERENCES QUOTE STYLE*/

.fifth-quote {
  float: left;
  
}

/* EXTERNAL LINKS QUOTE STYLE*/

.sixth-quote {
  float: left;
}

/*CONTENTS BOX STYLE*/

.ct-box {
  float: left;
  width: 9rem;
  height: auto;
  border: 1px solid rgba(0,0,0,.5);
  line-height: 1.2rem;
}

/*COVER BOX STYLE*/

.cover-box {
  float: right;
  width: 15rem;
  border: 1px solid black;
  text-align: center;
  line-height: 1.6rem;
  z-index:  0;
}

.cover img{
  width: 14rem;
}

table{
  width: 100%;
  text-align: left;
}


/* LINK BOX STYLE */

.link-box {
  float:left;
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
}


/*FOOTER STYLE*/

footer {
  position: absolute;
  height: 10rem;
  padding-left: 11rem;
  bottom: 1rem;
  display: none;
}
